---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// Variable overrides (before imports - !default won't override these)
$max-width: 1440px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Page title - compact
.page__title {
  font-size: $type-size-4; // ~20px
}

// Reduce spacing
.archive__subtitle {
  margin: 0.8em 0 0.4em;
  font-size: $type-size-6;
}

#main {
  padding-top: 0;
}

.page__inner-wrap {
  margin-top: 0.5em;
}

// Post list - separation & excerpt
.list__item {
  padding-bottom: 0.8em;
  margin-bottom: 0.8em;
  border-bottom: 1px solid $border-color;

  &:last-child {
    border-bottom: none;
  }

  .archive__item-title {
    margin-bottom: 0.15em;
    font-size: $type-size-5;
  }

  .archive__item-excerpt {
    margin: 0.2em 0 0;
    font-size: $type-size-6;
    color: $muted-text-color;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

// Sidebar categories
.sidebar-categories {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid $border-color;

  &__title {
    margin: 0 0 0.6em;
    font-size: $type-size-6;
    text-transform: uppercase;
    color: $muted-text-color;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 0.5em;
    }

    a {
      font-size: $type-size-6;
      color: $text-color;
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      padding: 0.15em 0;

      &:hover {
        color: $primary-color;
      }

      span {
        color: $muted-text-color;
        font-size: 0.9em;
      }
    }
  }
}

// Hits counter in sidebar
.sidebar .hits-badge {
  display: block;
  margin-top: 1em;

  img {
    max-width: 80px;
    height: auto;
    opacity: 0.6;
  }
}